/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
database/database.sqlite
npm-debug.log
yarn-error.log
/storage/framework/views/
/storage/logs/*.log
